.timer {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: green; /* Default color */
    transition: color 0.3s ease;
}

.negative {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: red; /* Red color for negative time */
    transition: color 0.3s ease;
    margin-bottom: 2%;
}
