@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

.pricing-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.plan-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 15px;
}

.description {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}

.checkout-button{
  background-color: #003cff;
  padding: 5px;
  margin: 20px;
}